noderedcode.txt
[{"id":"1cb2947f.75f6fc","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"b1b11140.4e4ef","type":"inject","z":"1cb2947f.75f6fc","name":"","topic":"","payload":"Siva Rama Krishna","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"","x":151,"y":61,"wires":[["f2f2649a.0d0d98"]]},{"id":"f2f2649a.0d0d98","type":"debug","z":"1cb2947f.75f6fc","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":401,"y":87,"wires":[]},{"id":"c94865f5.5a1908","type":"debug","z":"1cb2947f.75f6fc","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":590,"y":260,"wires":[]},{"id":"7b54e1a3.c3496","type":"function","z":"1cb2947f.75f6fc","name":"Temperature","func":"global.set('Temperature',msg.payload.Temperature)\nmsg.payload=msg.payload.Temperature\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":260,"wires":[["c94865f5.5a1908","6670b3c.63b834c"]]},{"id":"737969a2.41a2c8","type":"ibmiot in","z":"1cb2947f.75f6fc","authentication":"apiKey","apiKey":"ba483aa3.5630e8","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"572604","applicationId":"","deviceType":"greenhouse","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":150,"y":260,"wires":[["7b54e1a3.c3496","425f46ea.743258","3f9b9e2.2d63c62","f2f2649a.0d0d98"]]},{"id":"3f9b9e2.2d63c62","type":"function","z":"1cb2947f.75f6fc","name":"Humidity","func":"global.set('Humidity',msg.payload.Humidity)\nmsg.payload=msg.payload.Humidity\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":220,"wires":[["c94865f5.5a1908","2a227d1b.470302"]]},{"id":"425f46ea.743258","type":"function","z":"1cb2947f.75f6fc","name":"Soil moisture","func":"global.set('Soil_Moisture',msg.payload.Soil_Moisture)\nmsg.payload=msg.payload.Soil_Moisture\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":300,"wires":[["c94865f5.5a1908","aff4a8e0.4b76e8"]]},{"id":"6670b3c.63b834c","type":"ui_gauge","z":"1cb2947f.75f6fc","name":"","group":"f0057e40.e2326","order":1,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":610,"y":220,"wires":[]},{"id":"2a227d1b.470302","type":"ui_gauge","z":"1cb2947f.75f6fc","name":"","group":"f0057e40.e2326","order":2,"width":0,"height":0,"gtype":"gage","title":"Humidity","label":"units","format":"{{value}}","min":0,"max":"60","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":600,"y":180,"wires":[]},{"id":"aff4a8e0.4b76e8","type":"ui_gauge","z":"1cb2947f.75f6fc","name":"","group":"f0057e40.e2326","order":3,"width":0,"height":0,"gtype":"gage","title":"Soil moisture","label":"units","format":"{{value}}","min":0,"max":"60","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":610,"y":300,"wires":[]},{"id":"5de3fc7e.5c8f04","type":"ui_button","z":"1cb2947f.75f6fc","name":"","group":"f0057e40.e2326","order":5,"width":0,"height":0,"passthru":false,"label":"motorOFF","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\":\"motorOFF\"}","payloadType":"json","topic":"","x":190,"y":460,"wires":[["d8b1639a.b1276"]]},{"id":"f27a1db1.8e0cf","type":"ui_button","z":"1cb2947f.75f6fc","name":"","group":"f0057e40.e2326","order":4,"width":0,"height":0,"passthru":false,"label":"motorON","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\":\"motorON\"}","payloadType":"json","topic":"","x":200,"y":420,"wires":[["d8b1639a.b1276"]]},{"id":"d8b1639a.b1276","type":"ibmiot out","z":"1cb2947f.75f6fc","authentication":"apiKey","apiKey":"ba483aa3.5630e8","outputType":"cmd","deviceId":"572604","deviceType":"greenhouse","eventCommandType":"home","format":"json","data":"data","qos":0,"name":"IBM IoT","service":"registered","x":520,"y":460,"wires":[]},{"id":"d52e41c3.b9929","type":"http in","z":"1cb2947f.75f6fc","name":"","url":"/data","method":"get","upload":false,"swaggerDoc":"","x":360,"y":540,"wires":[["f56bd470.e104c8"]]},{"id":"9a4132f2.1947d","type":"http response","z":"1cb2947f.75f6fc","name":"","statusCode":"","headers":{},"x":690,"y":540,"wires":[]},{"id":"f56bd470.e104c8","type":"function","z":"1cb2947f.75f6fc","name":"","func":"msg.payload={'Temperature':global.get(\"Temperature\"),'Humidity':global.get(\"Humidity\"),'Soil_Moisture':global.get(\"Soil_Moisture\")}\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":540,"wires":[["9a4132f2.1947d"]]},{"id":"c9cf118.d7f4af","type":"http in","z":"1cb2947f.75f6fc","name":"","url":"/command","method":"get","upload":false,"swaggerDoc":"","x":340,"y":600,"wires":[["426d0a6e.36abc4"]]},{"id":"4919e817.7c4d38","type":"http response","z":"1cb2947f.75f6fc","name":"","statusCode":"","headers":{},"x":680,"y":600,"wires":[]},{"id":"426d0a6e.36abc4","type":"function","z":"1cb2947f.75f6fc","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"x":520,"y":620,"wires":[["4919e817.7c4d38","99154b42.4ea228"]]},{"id":"99154b42.4ea228","type":"debug","z":"1cb2947f.75f6fc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":680,"y":680,"wires":[]},{"id":"ba483aa3.5630e8","type":"ibmiot","z":"","name":"","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"f0057e40.e2326","type":"ui_group","z":"","name":"Default","tab":"3d89a888.7fd6b8","order":1,"disp":true,"width":"6","collapse":false},{"id":"3d89a888.7fd6b8","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]